.App {
  text-align: center;
  position: absolute;
  width: 400px;
  height: 60px;
  left: 45%;  
  margin-left: -100px;
  top: 40%;
  margin-top: -30px;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
