body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header-aplication {
  display: flex;
  justify-content: space-between;
  height: 7vh;
  position: fixed;
  top: 0;
  width: 80%;
  flex-basis: 100%;
}

.container{
  padding: 70px;
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  min-height: 10em;
  width: 90%;
}